#container {
  border: solid 1px black;
  height: 900px;
  width: 900px;
  display: flex;
  flex-wrap: wrap;

}

.gridSquare {
  width: 6.25%;
  box-sizing: border-box;
  border: grey solid 1px;
}

.gridSquareColored {
  background-color: black;
}